.card p {
	margin-top: -10px;
	margin-bottom: 1px;
}
.row .card:hover{
	box-shadow: 5px 5px 5px rgba(1,0,0,0.4);
	transform: scale(1.05);
}
.h4{
	font-color: red;
}
body{
	background: #343d46;
  }
   
  .box{
	margin: 100px auto;
	width: 300px;
	height: 50px;
  }
  .kolom-order{
	width: 280px;
	height: 100px;
	margin: 20px;
	margin-left: 535px;
	margin-bottom: 20px;
	padding: 20px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 5px 1px #212F3D ;
	color: #212F3D ;
	background-color: white;
  }

  .kolom-order h3{
	font-size: 20px;
	margin-bottom: 15px;
  }

  .kolom-order h2{
	font-size: 23px;
  }
	.button {
	  position:relative; 
	  left:-4px; 
	  width: 60px;
	  padding:9px 6px;   
	  border:0px 
	  solid #ff07ff; 
	  background-color: #ef00ff; 
	  color:#fafafa; 
	}               
	  .button:hover {
	  background: #ff07ff;
	  color:#fafafa;
	}          
	  .button:active {
	  background:#ef00ff;
	}